In [46]:
#######################################################
# Yue, Maca, Rukhshan
# 5/18
#Purpose: Data Consolidation 
#----Part of the Machine Learning Project Spring 2020
######################################################

# 1. Data Conversion
   #### Flatten out json datafiles into csv files, and turn tsv into csv, and them merge these datasets

In [47]:
import pandas as pd
import numpy as np
import json

In [48]:
KEPT_COLUMNS = ['id','description', 'probe_timestamp','created_at', 'lang', 'protected', 'verified', 'geo_enabled', 
                'default_profile', 'followers_count', 'friends_count', 'listed_count', 'favourites_count', 'statuses_count','source']
def data_conversion(path_tweet, path_bot, source):
,    '''
    convert json to csv file, tsv to csv file, and merge them based on user.id
    '''
    #convert json to csv file
    with open(path_tweet) as f:
        tweet_json = json.load(f)
    tweets_df = pd.json_normalize(tweet_json)
    tweets_df.rename(columns={'created_at':'probe_timestamp'}, inplace=True)
    #remove the prefix "user."
    for column in tweets_df.columns.tolist():
        if column.startswith("user."):
            newname = column.strip("user.")
            tweets_df.rename(columns={column:newname}, inplace=True)
    #other fixes for column names (for the purpose of data consolidation later)
    if 'user_id' in tweets_df:
        tweets_df.rename(columns={'user_id':'id'}, inplace=True)
    if 'user_created_at' in tweets_df:
        tweets_df.rename(columns={"user_created_at":"created_at"}, inplace=True)
    if "tatuses_count" in tweets_df:
        tweets_df.rename(columns={"tatuses_count":"statuses_count"}, inplace=True)
    if "default_profil" in tweets_df:
        tweets_df.rename(columns={"default_profil":"default_profile"}, inplace=True)
    tweets_df = tweets_df[KEPT_COLUMNS]
    
    #convert tsv to csv file
    columns = ["id","bot"]
    bot_df = pd.read_csv(path_bot, names = columns, sep = "\t", header = None)
    # join the two datasets together by "user.id"
    merged_df =bot_df.merge(tweets_df,how = "inner", left_on='id', right_on='id')
    merged_df["source"] = source
    return merged_df

IndentationError: expected an indented block (<ipython-input-48-a439d28b8eb2>, line 4)

   ### 1) cresci-rtbust-2019

In [49]:
path_cresci_rtbust_2019_tweets = r"C:\Users\yueku\Desktop\project\cresci-rtbust-2019\cresci-rtbust-2019_tweets.json"
path_cresci_rtbust_2019_bot = r"C:\Users\yueku\Desktop\project\cresci-rtbust-2019\cresci-rtbust-2019.tsv"
cresci_rtbust_2019_df = data_conversion(path_cresci_rtbust_2019_tweets,path_cresci_rtbust_2019_bot,"cresci-rtbust-2019")
cresci_rtbust_2019_df.head()

,id,bot,description,probe_timestamp,created_at,lang,protected,verified,geo_enabled,default_profile,followers_count,friends_count,listed_count,favourites_count,statuses_count,source
0,3039154799,human,••TEEN WOLF//SKAM//SHAMELESS••Il mio livello d...,Thu May 16 13:57:12 +0000 2019,Sun Feb 15 14:56:36 +0000 2015,it,False,False,False,True,163,407,0,4193,5761,cresci-rtbust-2019
1,390617262,bot,,Tue Apr 16 13:51:17 +0000 2019,Fri Oct 14 08:00:55 +0000 2011,it,False,False,False,True,289,401,1,213,3210,cresci-rtbust-2019
2,4611389296,human,"“if you are black, if you are white, if you ar...",Sun May 12 17:01:48 +0000 2019,Sat Dec 26 13:55:00 +0000 2015,it,False,False,False,True,216,214,0,2266,2455,cresci-rtbust-2019
3,734396807745286145,human,"be a lover, give love, choose love, always.",Fri May 17 16:59:10 +0000 2019,Sun May 22 14:53:38 +0000 2016,en,False,False,True,True,185,492,1,10584,4936,cresci-rtbust-2019
4,1010978324569640960,bot,,Wed Feb 13 01:56:38 +0000 2019,Sun Jun 24 20:09:50 +0000 2018,en,False,False,False,True,9,26,0,140,2581,cresci-rtbust-2019

   ### 2) gilani-2017

In [50]:
path_gilani_2017_tweets = r"C:\Users\yueku\Desktop\project\gilani-2017\gilani-2017_tweets.json"
path__gilani_2017_bot = r"C:\Users\yueku\Desktop\project\gilani-2017\gilani-2017.tsv"
gilani_2017_df = data_conversion(path_gilani_2017_tweets,path__gilani_2017_bot,"gilani_2017")
gilani_2017_df.head()

,id,bot,description,probe_timestamp,created_at,lang,protected,verified,geo_enabled,default_profile,followers_count,friends_count,listed_count,favourites_count,statuses_count,source
0,461277906,bot,04 Limited Sazabysの公式Twitter。2008年名古屋で結成。ライブなど...,Fri Jan 18 11:42:24 +0000 2019,Wed Jan 11 16:49:07 +0000 2012,ja,False,True,True,False,355209,3145,3405,209,9953,gilani_2017
1,808280162,bot,某炎上アカウント() #R6S PS4(初心者),Mon Jan 21 16:04:49 +0000 2019,Fri Sep 07 06:01:38 +0000 2012,ja,False,False,False,True,26680,299,59,27618,113696,gilani_2017
2,1575510320,bot,👍👍@9are_7👍👍,Sat Jan 12 20:53:41 +0000 2019,Sun Jul 07 16:15:19 +0000 2013,ar,False,False,True,True,135867,132385,122,630,185803,gilani_2017
3,2449235599,bot,,Wed Sep 19 12:47:15 +0000 2018,Thu Apr 17 07:07:00 +0000 2014,ja,False,False,False,True,27559,33,2,2873,13037,gilani_2017
4,1113769100,bot,‏‏‎‎‎‎‎‎ ‎‎‎@messfer20,Thu Jul 12 00:39:51 +0000 2018,Wed Jan 23 07:53:14 +0000 2013,ar,False,False,False,False,82290,83899,50,13437,74352,gilani_2017

   ### 3) midterm-2018

In [51]:
path_midterm_18_tweets = r"C:\Users\yueku\Desktop\project\midterm-18\midterm-2018_processed_user_objects.json"
path__midterm_18_bot = r"C:\Users\yueku\Desktop\project\midterm-18\midterm-2018.tsv"
midterm_2018_df = data_conversion(path_midterm_18_tweets ,path__midterm_18_bot,"midterm_18")
midterm_2018_df.head()

,id,bot,description,probe_timestamp,created_at,lang,protected,verified,geo_enabled,default_profile,followers_count,friends_count,listed_count,favourites_count,statuses_count,source
0,2521260264,bot,I'm a work in progress...growing slowly but su...,Sat Nov 10 22:13:51 2018,Sat May 24 20:17:53 2014,en,False,False,False,True,6,64,1,7,827,midterm_18
1,2521267226,bot,Hi! I'm Andrew Lowe and nothing matters this i...,Sat Nov 10 19:43:24 2018,Sat May 24 20:16:13 2014,en,False,False,False,True,9,112,0,14,837,midterm_18
2,2521271036,bot,| Diversity Advocate | Ohio University Alumna ✨,Mon Nov 05 17:41:51 2018,Sat May 24 20:18:58 2014,en,False,False,False,True,24,67,0,10,1121,midterm_18
3,2521301466,bot,Success is the best revenge,Wed Nov 07 03:07:53 2018,Sat May 24 20:43:45 2014,en,False,False,False,True,11,112,0,13,764,midterm_18
4,2521307095,bot,19 year old hip hop artist from Texas. My new ...,Sat Nov 10 21:24:37 2018,Sat May 24 20:31:35 2014,en,False,False,False,True,5,66,0,15,920,midterm_18

   ### 4) verified-2019
   These are all human accounts. We are using it to balance our dataset.

In [52]:
path_verified_2019_tweets = r"C:\Users\yueku\Desktop\project\verified\verified-2019_tweets.json"
path__verified_2019_bot = r"C:\Users\yueku\Desktop\project\verified\verified-2019.tsv"
verified_2019_df = data_conversion(path_verified_2019_tweets,path__verified_2019_bot,"verified_2019")
verified_2019_df.head()

,id,bot,description,probe_timestamp,created_at,lang,protected,verified,geo_enabled,default_profile,followers_count,friends_count,listed_count,favourites_count,statuses_count,source
0,54619276,human,"Political and cultural criticism, satire, and ...",Wed Jun 05 23:03:01 +0000 2019,Tue Jul 07 17:35:38 +0000 2009,None,False,True,False,False,48496,1256,1404,10245,20319,verified_2019
1,948891169,human,actor writer singer traveler,Wed Jun 05 20:24:59 +0000 2019,Thu Nov 15 02:10:41 +0000 2012,None,False,True,False,False,11793,1436,130,46907,11547,verified_2019
2,26042984,human,Linda's son | Writer | Digital Producer | Mana...,Wed Jun 05 23:14:40 +0000 2019,Mon Mar 23 17:13:47 +0000 2009,None,False,True,True,False,4203,3470,109,2987,51426,verified_2019
3,8283682,human,journalist من حُلْم إلى حُلْمٍ أَطيرُ وليس لي...,Wed Jun 05 23:35:17 +0000 2019,Sun Aug 19 12:43:35 +0000 2007,None,False,True,True,False,99240,2510,538,5792,52187,verified_2019
4,311062620,human,Director/Editor for @thetakeaway from @WNYC @P...,Wed Jun 05 22:20:12 +0000 2019,Sat Jun 04 20:46:35 +0000 2011,None,False,True,False,False,2191,1552,90,28183,46232,verified_2019

### 5) pronbots-2019

In [53]:
path_pronbots_2019_tweets = r"C:\Users\yueku\Desktop\project\pronbots-2019\pronbots-2019_tweets.json"
path__pronbots_2019_bot = r"C:\Users\yueku\Desktop\project\pronbots-2019\pronbots-2019.tsv"
path_pronbots_2019_df = data_conversion(path_pronbots_2019_tweets,path__pronbots_2019_bot,"pronbots_2019")
path_pronbots_2019_df.head()

,id,bot,description,probe_timestamp,created_at,lang,protected,verified,geo_enabled,default_profile,followers_count,friends_count,listed_count,favourites_count,statuses_count,source
0,1111770704,bot,Gamer/Beauty. Waiting you at https://t.co/9NPr...,Mon Mar 12 02:06:31 +0000 2018,Tue Jan 22 15:01:28 +0000 2013,en,False,False,False,True,10,0,0,115,17,pronbots_2019
1,422386111,bot,You want me? 🔥🔥🔥 https://t.co/flgezIxlbx,Fri Mar 09 03:57:16 +0000 2018,Sun Nov 27 06:00:57 +0000 2011,en,False,False,False,True,8,0,0,165,44,pronbots_2019
2,94059036,bot,How do you like my site? 😙😙😙 https://t.co/VXEU...,Mon Mar 12 01:33:27 +0000 2018,Wed Dec 02 09:52:45 +0000 2009,en,False,False,False,True,55,0,0,221,37,pronbots_2019
3,419403479,bot,How do you like my site? 😙😙😙 https://t.co/uIMn...,Wed Mar 14 10:43:15 +0000 2018,Wed Nov 23 09:31:38 +0000 2011,en,False,False,False,True,21,0,0,300,49,pronbots_2019
4,3141909615,bot,You want me? 🔥🔥🔥 https://t.co/2Yf9oklxZU,Fri Mar 09 00:55:36 +0000 2018,Mon Apr 06 21:14:19 +0000 2015,nl,False,False,False,True,42,0,0,487,94,pronbots_2019

### 6) cresci 17

In [54]:
def process_cresci_17(path, source):
    tweets_df = pd.read_csv(path)
    if 'timestamp' in tweets_df:
        tweets_df.rename(columns={"timestamp":"probe_timestamp"}, inplace=True)
    tweets_df = tweets_df[KEPT_COLUMNS]
    tweets_df["source"] = source
    return tweets_df

In [55]:
social_spambots1_path = r"C:\Users\yueku\Desktop\project\social_spambots_1.csv\users.csv"
social_spambots2_path = r"C:\Users\yueku\Desktop\project\social_spambots_2.csv\users.csv"
social_spambots3_path = r"C:\Users\yueku\Desktop\project\social_spambots_3.csv\users.csv"
traditional_spambots_1_path = r"C:\Users\yueku\Desktop\project\traditional_spambots_1.csv\users.csv"
traditional_spambots_2_path = r"C:\Users\yueku\Desktop\project\traditional_spambots_2.csv\users.csv"
traditional_spambots_3_path = r"C:\Users\yueku\Desktop\project\traditional_spambots_3.csv\users.csv"
traditional_spambots_4_path = r"C:\Users\yueku\Desktop\project\traditional_spambots_4.csv\users.csv"

social_spambots1 =process_cresci_17(social_spambots1_path,"social_spambots1")
social_spambots2 =process_cresci_17(social_spambots2_path,"social_spambots2")
social_spambots3 =process_cresci_17(social_spambots3_path,"social_spambots3")
traditional_spambots_1 =process_cresci_17(traditional_spambots_1_path,"traditional_spambots_1")
traditional_spambots_2 =process_cresci_17(traditional_spambots_2_path,"traditional_spambots_2")
traditional_spambots_3 =process_cresci_17(traditional_spambots_3_path,"traditional_spambots_3")
traditional_spambots_4 =process_cresci_17(traditional_spambots_4_path,"traditional_spambots_4")

# 2. Data Consolidation

In [56]:
consolidated_df = pd.concat([cresci_rtbust_2019_df, midterm_2018_df, gilani_2017_df, verified_2019_df,social_spambots1,social_spambots2,social_spambots3
                            ,traditional_spambots_1,traditional_spambots_2,traditional_spambots_3,traditional_spambots_4])
consolidated_df.shape

(63264, 16)

In [57]:
consolidated_df.columns.tolist()

['id',
 'bot',
 'description',
 'probe_timestamp',
 'created_at',
 'lang',
 'protected',
 'verified',
 'geo_enabled',
 'default_profile',
 'followers_count',
 'friends_count',
 'listed_count',
 'favourites_count',
 'statuses_count',
 'source']

In [58]:
consolidated_df.to_csv(r'C:\Users\yueku\Desktop\project\consolidated_version2.csv')